body{
  background-color: lightblue;
  
}

h1{
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: Verdana;
  
}


.photo{
  background-color:aquamarine;
  text-align: center;
  width: 400px;
  margin-bottom: 20px;
  
}

.desc{
  margin-top: 10px;
  margin-bottom: 30px;
   
}

p{
  color:black;
  font-family: Verdana;
  font-size: 15px;
  margin-bottom: 20px;
}

img{
  margin-top: 20px;
  border: 5px solid white;
  box-shadow:  1px 2px 4px rgba(0, 0, 0, .5);
}








